{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
  ],
  "env": {
    "browser": true
  },
}